.column {
    width: 100%;
    padding: 10px;
    margin: 8px;
    border-radius: 12px;
    text-align: center;
    transition-property: all;
    transition-delay: 0s;
    transition-timing-function: ease-out;
}

#mainButtonView{
    width: 40%;
    margin: auto;
}

.column:hover{
    box-shadow: 0 0 12px grey;
}

.on {
    color: white;
    background-color: orangered;
    fill: white;
}

.off {
    color: orangered;
    background-color: white;
    fill: orangered
}

.row {
    display: flex;
    content: "";
    clear: both;
}

.icon {
    display: block;
    height: 72px;
    width: 72px;
    margin-left: auto;
    margin-right: auto;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: rgba(255, 255, 255, 0.753); 
  }

.invisible{
    display: none;
}

.font-roboto {
    font-family: 'Roboto', sans-serif;
}
